doctype html
ScrollView
    StackLayout(orientation="vertical", height="100%")
        StackLayout(orientation="horizontal", marginTop="30", marginBottom="30")
            Image(src="~/assets/img/back.png", height="20", width="20%")
            StackLayout(width="80%")
                Label.regular.title(text="Elige la fecha en tu calendario")
        StackLayout(orientation="vertical", height="100%")
            RadCalendar(id="calendar", height="70%")
            StackLayout(verticalAlignment="bottom", height="100%")
                Button.bottom-button(text="Continuar", (tap)="serviceDetail()")