ScrollView.page
    StackLayout(orientation="vertical", height="100%")
        StackLayout(orientation="horizontal", marginTop="30", marginBottom="30")
            Image(src="~/assets/img/back.png", height="20", width="20%")
            StackLayout(width="80%")
                Label.regular.title(text="Precotización")
    
        StackLayout(orientation="vertical")
            StackLayout.purple-background(orientation="horizontal", padding="15")
                Label.white-text.bold(text="Servicio", width="75%")
                Label.white-text.bold(text="Costo", width="25%")
            StackLayout.grey-background(orientation="horizontal", padding="15")
                Label.light(text="Servicio base", width="75%")
                Label.purple-text(text="$350", width="25%")
            StackLayout(orientation="horizontal", padding="15")
                Label.light(text="Reparación de gotera", width="75%")
                Label.purple-text(text="$140", width="25%")
            StackLayout.grey-background(orientation="horizontal", padding="15")
                Label.light(text="Reparación de llave", width="75%")
                Label.purple-text(text="$200", width="25%")
            StackLayout(orientation="vertical", padding="15")
                Label.bold(horizontalAlignment="center", text="Total")
                Label.purple-text.large-text.light(horizontalAlignment="center", text="$690")
            StackLayout(verticalAlignment="bottom", height="100%")
                Button.bottom-button(text="Continuar", [nsRouterLink]="['/plumbing-calendar']")
        