
<StackLayout height="100%">
  <StackLayout class="secondary-bar" orientation="horizontal" verticalAlign="center" (tap)="marketPlace()">
    <Image height="25" width="10%" src="~/assets/img/fast-delivery2.png"></Image>
    <Label class="white-text" verticalAlignment="center" text="Servicio Express"></Label>
  </StackLayout>
  <StackLayout *ngFor="let service of services" [class]="service.classname +  ' menu-item'" (tap)="serviceDetail(service)">
    <StackLayout class="text-mask" verticalAlignment="middle" horizontalAlignment="right" width="100%">
      <Label class="title label-text" [text]="service.name"></Label>
    </StackLayout>
  </StackLayout>
</StackLayout>