ScrollView.page
    StackLayout(orientation="vertical", height="100%")
        StackLayout(orientation="horizontal", marginTop="30", marginBottom="30")
            Image(src="~/assets/img/back.png", height="20", width="20%")
            StackLayout(width="80%")
                Label.regular.title(text="Selecciona el método de pago")
        
        GridLayout(height="70%", columns="*,*", rows="auto,auto,auto")
            StackLayout.background-white.item(*ngFor="let card of cards; index as i", [class.selected]="card.selected", padding="5", margin="5", verticalAlignment="center", horizontalAlignment="center", [row]="i/2", [col]="i%2", (tap)="select(card)", height="120", orientation="vertical")
                StackLayout(width="100%", verticalAlignment="center")
                    Image([src]="card.image", stretch="aspectFill", height="60", width="60")
                StackLayout(orientation="vertical", marginLeft="4%", verticalAlignment="center", marginTop="10", horizontalAlignment="center")
                    Label.light([text]="card.number")
        StackLayout(verticalAlignment="bottom", height="100%")
            Button.bottom-button(text="Continuar", (tap)="serviceDetail()")