
<ScrollView class="page">
  <StackLayout orientation="vertical" height="100%">
    <StackLayout orientation="horizontal" marginTop="30" marginBottom="30">
      <Image src="~/assets/img/back.png" height="20" width="20%"></Image>
      <StackLayout width="80%">
        <Label class="regular title" text="Precotización"></Label>
      </StackLayout>
    </StackLayout>
    <StackLayout orientation="vertical">
      <StackLayout class="purple-background" orientation="horizontal" padding="15">
        <Label class="white-text bold" text="Servicio" width="75%"></Label>
        <Label class="white-text bold" text="Costo" width="25%"></Label>
      </StackLayout>
      <StackLayout class="grey-background" orientation="horizontal" padding="15">
        <Label class="light" text="Servicio base" width="75%"></Label>
        <Label class="purple-text" text="$350" width="25%"></Label>
      </StackLayout>
      <StackLayout orientation="horizontal" padding="15">
        <Label class="light" text="Dupllicado de llave" width="75%"></Label>
        <Label class="purple-text" text="$140" width="25%"></Label>
      </StackLayout>
      <StackLayout class="grey-background" orientation="horizontal" padding="15">
        <Label class="light" text="Apertura de candado" width="75%"></Label>
        <Label class="purple-text" text="$200" width="25%"></Label>
      </StackLayout>
      <StackLayout orientation="vertical" padding="15">
        <Label class="bold" horizontalAlignment="center" text="Total"></Label>
        <Label class="purple-text large-text light" horizontalAlignment="center" text="$690"></Label>
      </StackLayout>
      <StackLayout verticalAlignment="bottom" height="100%">
        <Button class="bottom-button" text="Continuar" [nsRouterLink]="['/plumbing-calendar']"></Button>
      </StackLayout>
    </StackLayout>
  </StackLayout>
</ScrollView>