StackLayout.form(orientation="vertical", height="100%")
    Image(src="~/assets/img/logo2.png", height="200",verticalAlignment="center")
    Label.light.subtitle(text="Tu petición ha sido recibida y aceptada, ha sido un gusto servirte", textWrap="true", horizontalAlignment="center", verticalAlignment="center")
    Button.bottom-button(text="Regresar", [nsRouterLink]="['/home']")