
<ScrollView>
  <StackLayout orientation="vertical">
    <StackLayout orientation="horizontal" marginTop="30">
      <Image src="~/assets/img/back.png" height="20" width="20%"></Image>
      <StackLayout width="80%">
        <Label class="regular title" text="Tu empleada seleccionada"></Label>
      </StackLayout>
    </StackLayout>
    <StackLayout orientation="horizontal" horizontalAlignment="center" paddingTop="20">
      <Image height="60" width="40%" src="~/assets/img/woman2.png"></Image>
      <StackLayout orientation="vertical" width="60%">
        <Label class="title bold" text="Laura Romero"></Label>
        <Label class="light subtitle" text="Certificada LUB desde 2018"></Label>
      </StackLayout>
    </StackLayout>
    <StackLayout class="purple-background" orientation="vertical" padding="20">
      <Label class="title white-text light" text="Calificaciones UBird"></Label>
      <StackLayout orientation="horizontal">
        <StackLayout orientation="vertical" marginLeft="10" marginRight="10" verticalAlignment="center">
          <Label class="rating-circle" text="9"></Label>
          <Label class="white-text" horizontalAlignment="center" text="Puntualidad"></Label>
        </StackLayout>
        <StackLayout orientation="vertical" marginLeft="10" marginRight="10" verticalAlignment="center">
          <Label class="rating-circle" text="9"></Label>
          <Label class="white-text" horizontalAlignment="center" text="Rapidez"></Label>
        </StackLayout>
        <StackLayout orientation="vertical" marginLeft="10" marginRight="10" verticalAlignment="center">
          <Label class="rating-circle" text="10"></Label>
          <Label class="white-text" horizontalAlignment="center" text="Satisfacción"></Label>
        </StackLayout>
        <StackLayout orientation="vertical" verticalAlignment="center">
          <StackLayout orientation="horizontal">
            <Image src="~/assets/img/ubird.png" width="30"></Image>
            <Label class="rating-circle" text="8"></Label>
          </StackLayout>
          <Label class="white-text bold" horizontalAlignment="center" text="General"></Label>
        </StackLayout>
        <StackLayout orientation="horizontal" verticalAlignment="center"></StackLayout>
      </StackLayout>
    </StackLayout>
  </StackLayout>
</ScrollView>