ScrollView
    StackLayout(orientation="vertical")
        StackLayout(orientation="horizontal", marginTop="30")
            Image(src="~/assets/img/back.png", height="20", width="20%")
            StackLayout(width="80%")
                Label.regular.title(text="Tu empleada seleccionada")
        StackLayout(orientation="horizontal", horizontalAlignment="center", paddingTop="20")
            Image(height="60", width="40%", src="~/assets/img/woman2.png")
            StackLayout(orientation="vertical", width="60%")
                Label.title.bold(text="Laura Romero")
                Label.light.subtitle(text="Certificada LUB desde 2018")
        StackLayout.purple-background(orientation="vertical", padding="20")
            Label.title.white-text.light(text="Calificaciones UBird")
            StackLayout(orientation="horizontal")
                StackLayout(orientation="vertical", marginLeft="10", marginRight="10" verticalAlignment="center")
                    Label.rating-circle(text="9")
                    Label.white-text(horizontalAlignment="center", text="Puntualidad")
                StackLayout(orientation="vertical", marginLeft="10", marginRight="10" verticalAlignment="center")
                    Label.rating-circle(text="9")
                    Label.white-text(horizontalAlignment="center", text="Rapidez")
                StackLayout(orientation="vertical", marginLeft="10", marginRight="10" verticalAlignment="center")
                    Label.rating-circle(text="10")
                    Label.white-text(horizontalAlignment="center", text="Satisfacción")
                StackLayout(orientation="vertical", verticalAlignment="center")
                    StackLayout(orientation="horizontal")
                        Image(src="~/assets/img/ubird.png", width="30")
                        Label.rating-circle(text="8")
                    Label.white-text.bold(horizontalAlignment="center", text="General")
                StackLayout(orientation="horizontal", verticalAlignment="center")
            