
<ScrollView>
  <StackLayout orientation="vertical">
    <StackLayout orientation="horizontal" marginTop="30">
      <Image src="~/assets/img/back.png" height="20" width="20%" [nsRouterLink]="['/home']"></Image>
      <StackLayout width="80%">
        <Label class="regular title" text="Tu empleada seleccionada"></Label>
      </StackLayout>
    </StackLayout>
    <StackLayout orientation="horizontal" horizontalAlignment="center" paddingTop="20">
      <Image height="60" width="40%" src="~/assets/img/woman2.png"></Image>
      <StackLayout orientation="vertical" width="60%">
        <Label class="title bold" text="Laura Romero"></Label>
        <Label class="light subtitle" text="Certificada LUB desde 2018"></Label>
      </StackLayout>
    </StackLayout>
    <StackLayout class="purple-background" orientation="vertical" padding="20">
      <Label class="title white-text light" text="Calificaciones UBird"></Label>
      <StackLayout orientation="horizontal">
        <StackLayout orientation="vertical" marginLeft="10" marginRight="10" verticalAlignment="center">
          <Label class="rating-circle" text="9"></Label>
          <Label class="white-text" horizontalAlignment="center" text="Puntualidad"></Label>
        </StackLayout>
        <StackLayout orientation="vertical" marginLeft="10" marginRight="10" verticalAlignment="center">
          <Label class="rating-circle" text="9"></Label>
          <Label class="white-text" horizontalAlignment="center" text="Rapidez"></Label>
        </StackLayout>
        <StackLayout orientation="vertical" marginLeft="10" marginRight="10" verticalAlignment="center">
          <Label class="rating-circle" text="10"></Label>
          <Label class="white-text" horizontalAlignment="center" text="Satisfacción"></Label>
        </StackLayout>
        <StackLayout orientation="vertical" verticalAlignment="center">
          <StackLayout orientation="horizontal">
            <Image src="~/assets/img/ubird.png" width="30"></Image>
            <Label class="rating-circle" text="8"></Label>
          </StackLayout>
          <Label class="white-text bold" horizontalAlignment="center" text="General"></Label>
        </StackLayout>
        <StackLayout orientation="horizontal" verticalAlignment="center"></StackLayout>
      </StackLayout>
    </StackLayout>
    <StackLayout marginTop="10">
      <Button class="bottom-button" text="Continuar" [nsRouterLink]="['/thanks']"></Button>
    </StackLayout>
    <StackLayout orientation="vertical" marginTop="10">
      <Label class="title light" text="Comentarios" marginLeft="10"></Label>
      <StackLayout class="item-list" orientation="horizontal">
        <StackLayout orientation="horizontal">
          <Image src="~/assets/img/user1.png" width="30%" height="50" horizontalAlignment="center"></Image>
          <StackLayout orientation="vertical" width="50%">
            <Label class="bold" text="Jorge Pérez"></Label>
            <Label class="light" text="&quot;Muy responsable y puntual&quot;"></Label>
          </StackLayout>
          <StackLayout orientation="vertical" width="20%">
            <Image src="~/assets/img/star.png" height="30" width="20"></Image>
            <Label class="light" text="10" horizontalAlignment="center"></Label>
          </StackLayout>
        </StackLayout>
      </StackLayout>
      <StackLayout class="item-list" orientation="horizontal">
        <StackLayout orientation="horizontal">
          <Image src="~/assets/img/user2.png" width="30%" height="50" horizontalAlignment="center"></Image>
          <StackLayout orientation="vertical" width="50%">
            <Label class="bold" text="Laura Díaz"></Label>
            <Label class="light" text="&quot;Muy responsable y puntual&quot;"></Label>
          </StackLayout>
          <StackLayout orientation="vertical" width="20%">
            <Image src="~/assets/img/star.png" height="30" width="20"></Image>
            <Label class="light" text="10" horizontalAlignment="center"></Label>
          </StackLayout>
        </StackLayout>
      </StackLayout>
      <StackLayout class="item-list" orientation="horizontal">
        <StackLayout orientation="horizontal">
          <Image src="~/assets/img/user3.png" width="30%" height="50" horizontalAlignment="center"></Image>
          <StackLayout orientation="vertical" width="50%">
            <Label class="bold" text="Enrique Martínez"></Label>
            <Label class="light" text="&quot;Muy responsable y puntual&quot;"></Label>
          </StackLayout>
          <StackLayout orientation="vertical" width="20%">
            <Image src="~/assets/img/star.png" height="30" width="20"></Image>
            <Label class="light" text="10" horizontalAlignment="center"></Label>
          </StackLayout>
        </StackLayout>
      </StackLayout>
      <StackLayout class="item-list" orientation="horizontal">
        <StackLayout orientation="horizontal">
          <Image src="~/assets/img/user4.png" width="30%" height="50" horizontalAlignment="center"></Image>
          <StackLayout orientation="vertical" width="50%">
            <Label class="bold" text="Mauro Lozano"></Label>
            <Label class="light" text="&quot;Muy responsable y puntual&quot;"></Label>
          </StackLayout>
          <StackLayout orientation="vertical" width="20%">
            <Image src="~/assets/img/star.png" height="30" width="20"></Image>
            <Label class="light" text="10" horizontalAlignment="center"></Label>
          </StackLayout>
        </StackLayout>
      </StackLayout>
      <StackLayout class="item-list" orientation="horizontal">
        <StackLayout orientation="horizontal">
          <Image src="~/assets/img/user5.png" width="30%" height="50" horizontalAlignment="center"></Image>
          <StackLayout orientation="vertical" width="50%">
            <Label class="bold" text="Federico Fernandez"></Label>
            <Label class="light" text="&quot;Mucha amabilidad y buen trato, dejó todo impecable&quot;"></Label>
          </StackLayout>
          <StackLayout orientation="vertical" width="20%">
            <Image src="~/assets/img/star.png" height="30" width="20"></Image>
            <Label class="light" text="10" horizontalAlignment="center"></Label>
          </StackLayout>
        </StackLayout>
      </StackLayout>
    </StackLayout>
  </StackLayout>
</ScrollView>